body{
    background-color: rgba(166, 246, 207, 0.66);
}

button, select{
    min-height: 25px;
    min-width: 60px;
    border-radius: 5px;
}

#custom-menu{
    display:none;
    position:absolute;
    background:#ddd;
    border:1px solid #ccc;
    padding:10px;
}